@use "../../../styles/globalVariables.scss" as global;

.sidebar_navigation_small {
  min-width: global.$navSideBarWitdthSmall;
  max-width: global.$navSideBarWitdthSmall;
}

.sidebar_navigation_large {
  min-width: global.$navSideBarWitdthLarge;
  max-width: global.$navSideBarWitdthLarge;
}
