# Testing report
coverage/

# Package files and dependencies
node_modules/
.npm/
.npmrc

.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# IDE files
.vscode/

# Build folder
dist/
build/

# Next.js
/.next/
/out/

# env files
.env
.env.dev
.env.prod

# Vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
